@model List<POSService.Entities.TableItem>

@if(Model.Any() && !string.IsNullOrEmpty( Model.FirstOrDefault().Note))
{
     @Html.TextArea("Note", Model.FirstOrDefault().Note, new { @style = "100%; color:red;", @cols = "40", @rows = "2" })
}


@{ var mmmm1 = Model.GroupBy(x => x.ItemId).Select(y => new BarMateTabletOrdering.Models.LatestGroupByQty
    {
        StockItemName = y.ToList().FirstOrDefault().StockItemName,
        Qty = y.ToList().Sum(x => x.Qty),
        DateSold = y.ToList().FirstOrDefault().DateSold
    }).ToList();}

<p style="color:red; font-size:25px;">@Model.FirstOrDefault().TableName</p>

<div>
    <table class="striped fixedlayout">
        <thead>
            <tr>
                <th width="55%">@DateTime.Now.Subtract(Model.FirstOrDefault().DateSold).Minutes mins ago</th>
                <th width="15%">Qty</th>
            </tr>
        </thead>
        <tbody id="CasesTableBody1">
            @foreach (var rm in mmmm1)
            {
                var strCol = ""; if (DateTime.Now.Subtract(rm.DateSold).Minutes > 30) { strCol = "#ff4980"; }

                <tr border="1" bgcolor="@strCol">
                    <td class="tth2">@rm.StockItemName</td>
                    <td class="tth2">@rm.Qty</td>
                </tr>
            }
            
        </tbody>
    </table>


</div>


