
@model BarMateTabletOrdering.Models.CabbashViewModel


<div style="clear:both;"></div>

<div style="margin-bottom:0px;padding-bottom:0px;">

    <div class="row">
        <div class="row row-horizon">
            <span class="holdList">

                <button type="button" onclick="ProcesOrder('@Model.Total','@Model.TableId')" style="width:100%;" class="btn btn-success hbtn"><h5 class="text-bold">PAY NGN @Decimal.Round(Model.Total, 2)</h5></button>

            </span>
        </div>
    </div>

    <div style="clear:both;"></div>



    <div class="table-responsive col-sm-12 totalTab">
        <table class="table">
            <tr>
                <td class="active" width="30%">SubTotal</td>
                <td class="whiteBg" width="70%">
                    NGN <span id="Subtot">@Model.Total</span><span class="float-right"><b id="ItemsNum"><span></span> @Model.TotalItems items</b></span>
                </td>
            </tr>
        </table>
    </div>

    <div style="clear:both;"></div>

</div>










