@model BarMateTabletOrdering.Models.CabbashViewModel

<script type="text/javascript">
    $(".incbutton").off("click");
    $(".decbutton").off("click");

    $(".incbutton").on("click", function () {
        var $button = $(this); var oldValue = $button.parent().parent().find("input").val();
        var newVal = parseFloat(oldValue) + 1; $button.parent().parent().find("input").val(newVal);
        edit_posale($button.parent().parent().find("input").attr("id").slice(3),1);
    });
    $(".decbutton").on("click", function () {
        var $button = $(this); var oldValue = $button.parent().parent().find("input").val();
        if (oldValue > 1) { var newVal = parseFloat(oldValue) - 1; } else { newVal = 1; }
        $button.parent().parent().find("input").val(newVal);
        edit_posale($button.parent().parent().find("input").attr("id").slice(3),0);
    });
</script>


<div style="width:100%;padding:0px;margin:0px;">


    <div class="col-xs-12 nopadding" style="font-family:Candara;">
        <div class="panel panel-default product-details" style="color:darkseagreen;">
            <div class="panel-body" style="padding:3px;">
                <div class="col-xs-6 nopadding">
                    <div class="col-xs-2 nopadding">
                        <a href="javascript:void(0)" onclick="delete_posale('@Model.SingleItem.Id')">
                            <span class="fa-stack fa-sm productD">
                                <i class="fa fa-circle fa-stack-2x delete-product" style="color:green;">
                                </i><i class="fa fa-times fa-stack-1x fa-fw fa-inverse"></i>
                            </span>
                        </a>
                    </div><div class="col-xs-10 nopadding">
                        <span class="textPD" style="font-size:0.7em; padding-left:2px;">
                            <strong>
                                <a style="color:green;" class="SingleNote" id="@Model.SingleItem.Id">@Model.SingleItem.StockItemName</a>
                            </strong>
                        </span>
                    </div>
                </div>

                <div class="col-xs-4 nopadding productNum">
                    <a href="javascript:void(0)">
                     <span class="fa-stack fa-sm decbutton"><i class="fa fa-square fa-stack-2x light-grey"></i><i class="fa fa-minus fa-stack-1x fa-inverse white"></i></span>
                    </a>
                    <input type="text" id="qt-@Model.SingleItem.Id" onblur="edit_posale('@Model.SingleItem.Id')" disabled="disabled" min="1" class="form-control" value="@Model.SingleItem.Qty" placeholder="0" maxlength="2">
                    <a href="javascript:void(0)"><span class="fa-stack fa-sm incbutton"><i class="fa fa-square fa-stack-2x light-grey"></i><i class="fa fa-plus fa-stack-1x fa-inverse white"></i>
                    </span></a>

                    @*<input type="number" id="qt-@Model.SingleItem.Id" onchange="edit_posale('@Model.SingleItem.Id')" class="form-control" value="@Model.SingleItem.Qty" placeholder="0" maxlength="2">*@
                </div>
                <div class="col-xs-2 nopadding "><span class="subtotal textPD">@decimal.Round(Model.SingleItem.StockItemPrice, 0)  </span></div>
            </div>
        </div>
    </div>

</div>

